---
const { title, description, image = [], linkDemo, linkCode } = Astro.props;
---

<!-- Component: Blog card with action button -->
<div
  class="overflow-hidden bg-white rounded-lg shadow-sm text-slate-500 group"
>
  <!-- Carousel -->
  <div class="relative">
    <div class="flex overflow-hidden">
      {
        image.map((img, index) => (
          <figure class="min-w-full transition-transform duration-500 ease-in-out group-hover:transform group-hover:translate-x-[-100%]">
            <img
              src={img}
              alt={`card image ${index + 1}`}
              class="aspect-video w-full"
            />
          </figure>
        ))
      }
    </div>
  </div>
  <!-- Body-->
  <div class="p-6">
    <header class="flex gap-4 mb-4">
      <div>
        <h1 class="text-2xl font-bold text-slate-700">{title}</h1>
      </div>
    </header>
    <p>
      {description}
    </p>
  </div>
  <!-- Action base sized with lead icon buttons  -->
  <div class="flex justify-end gap-2 p-6 pt-0">
    <button
      class="inline-flex items-center justify-center flex-1 h-10 gap-2 px-5 text-sm font-medium tracking-wide transition duration-300 rounded focus-visible:outline-none justify-self-center whitespace-nowrap bg-neutral-50 text-neutral-500 hover:bg-neutral-100 hover:text-neutral-600 focus:bg-neutral-200 focus:text-neutral-700 disabled:cursor-not-allowed disabled:border-neutral-300 disabled:bg-neutral-100 disabled:text-neutral-400 disabled:shadow-none"
    >
      <span class="order-2">Demo</span>
    </button>
    <button
      class="inline-flex items-center justify-center flex-1 h-10 gap-2 px-5 text-sm font-medium tracking-wide text-white transition duration-300 rounded focus-visible:outline-none whitespace-nowrap bg-slate-500 hover:bg-slate-600 focus:bg-slate-700 disabled:cursor-not-allowed disabled:border-slate-300 disabled:bg-slate-300 disabled:shadow-none"
    >
      <span class="order-2">Code</span>
        <span>
            <svg viewBox="0 0 16 16" aria-hidden="true" width="24" height="24" astro-icon="social/github"
				><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path></svg
			>
        </span>
    </button>
  </div>
</div>
<!-- End Blog card with action button -->
