---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, ...props } = Astro.props;

---

<a
  role="menuitem"
  aria-current="page"
  aria-haspopup="false"
  class={`flex text-nowrap gap-2 p-4 transition-colors duration-300 text-white hover:text-slate-100 focus:text-neutral-200 focus:outline-none focus-visible:outline-none`}
  {...props}
  href={href}
>
  <slot />
</a>
