---

const { list } = Astro.props;

---

<style>
  .slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
  }

  .slider-track {
    width: 100%;
    display: flex;
    animation: scroll 30s linear infinite;
  }

  .icon-slide {
    flex: 0 0 20%; /* Muestra 5 iconos a la vez (100% / 5 = 20%) */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  img {
    max-width: 80px; /* Tamaño máximo del icono */
    height: auto;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

</style>

<div class="slider">
  <div class="slider-track">
    {list.map((icon) => (
      <div class="icon-slide">
        <img src={icon} alt="icon" />
      </div>
    ))}
    {list.map((icon) => (
        <div class="icon-slide">
          <img src={icon} alt="icon" />
        </div>
      ))}
  </div>
</div>
