---

const { list } = Astro.props;

---

<div class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-50px),transparent_100%)] md:[mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]">
  <ul class="flex justify-around [&_li]:mx-8 w-full animate-infinite-scroll">
  {list.map((object) => (
    <li class=" flex flex-col gap-2 items-center justify-center">
      <div class="h-24 w-24 flex flex-col">
        <img src={object.icon} alt={object.name} class="h-full w-full object-cover" />
      </div>
      <p>{object.name}</p>
    </li>
  ))}
  </ul>
  
  
</div>
