---

const { list } = Astro.props;

---

<div class="w-full inline-flex flex-nowrap overflow-auto">
  <ul class="flex justify-between [&_li]:mx-8 w-full">
  {list.map((object) => (
    <li class=" flex flex-col gap-2 items-center justify-center">
      <div class="h-24 w-24 flex flex-col">
        <img src={object.icon} alt={object.name} class="h-full w-full object-cover" />
      </div>
      <p>{object.name}</p>
    </li>
  ))}
  </ul>
  
  
</div>
